.container, html, body, .App, #root {
  width: 100vw;
  width: -moz-available;
  width: stretch;
  width: stretch;
  flex-direction: column;
  font-family: Josefin Sans, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: calc(14px + 12 * (100vw - 300px) / 1600);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.slide {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
}

.skills, .tags {
  min-width: 100vw;
}

.columns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.column {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100vh;
}
.column .textwall {
  max-width: 500px;
  font-size: 30px;
  padding: 30px;
}

p, html, body {
  margin: 0;
  padding: 0;
}

.animation {
  max-width: 100%;
  max-height: 100%;
  height: min(100vh, 177.7777777778vw);
}

.transparent {
  opacity: 0;
}

input {
  font-family: Josefin Sans, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media all and (min-width: 1100px) {
  .columns {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .tags .columns {
    flex-direction: row-reverse;
  }
}
.home, .contact, .loading {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.home > .wrapper .title, .home > .wrapper .subtitle {
  text-shadow: 2px 0 0px rgba(255, 0, 0, 0.7), -2px 0 0px rgba(0, 255, 255, 0.7);
  text-align: center;
  color: #000000;
}
.home > .wrapper .title {
  font-size: calc(64px + 6 * (100vw - 320px) / 680);
}
.home > .wrapper .subtitle {
  font-size: calc(32px + 6 * (100vw - 320px) / 680);
}

.header {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
.header .cv, .header .language {
  cursor: pointer;
}
.header .cv:active, .header .language:active {
  animation: flash 0.05s ease;
}

.contact > .button {
  font-size: calc(32px + 6 * (100vw - 320px) / 680);
  text-shadow: 2px 0 0px rgba(255, 0, 0, 0.7), -2px 0 0px rgba(0, 255, 255, 0.7);
  cursor: pointer;
  margin: 10px 0;
}
.contact > .button > a {
  text-decoration: none;
  color: black;
}
.contact > .button > a:active {
  animation: flashText 0.05s ease;
}
.contact > .card {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  top: -10vh;
  left: 0;
  width: 0;
  height: 0;
}
.contact > .card > .wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 100vw;
  min-height: 70vh;
}
.contact > .card > .wrapper > .wrapper {
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-between;
  flex: 1;
  position: absolute;
  flex-direction: column;
  padding: 2em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
}
.contact > .card > .wrapper > .wrapper > .close {
  box-shadow: 2px 0 0 rgba(255, 0, 0, 0.7), -2px 0 0 rgba(0, 255, 255, 0.7);
  align-items: center;
  justify-content: center;
  display: flex;
  display: flex;
  font-size: calc(20px + 6 * (100vw - 320px) / 680);
  vertical-align: top;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  margin: 0.5em;
  cursor: pointer;
}
.contact > .card > .wrapper > .wrapper > .line {
  align-self: flex-start;
  display: flex;
}
.contact > .card > .wrapper > .wrapper > .line > p {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: calc(20px + 6 * (100vw - 320px) / 680);
  margin: 10px 0;
}
.contact > .card > .wrapper > .wrapper > .line > p > span {
  width: 25px;
  padding-bottom: 0.25em;
}
.contact > .card > .wrapper > .wrapper > .line > p > a {
  display: flex;
  text-decoration-color: black;
}
.contact > .card > .wrapper > .wrapper > .line > p > a > input {
  border: none;
  font-size: calc(20px + 6 * (100vw - 320px) / 680);
  min-width: 12em;
  cursor: pointer;
  flex: 1;
  pointer-events: none;
}
.contact > .card > .wrapper > .wrapper > .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.copy {
  box-shadow: 2px 0 0 rgba(255, 0, 0, 0.7), -2px 0 0 rgba(0, 255, 255, 0.7);
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 25px;
  background: black;
  color: white;
  min-width: 100px;
  min-height: 50px;
  cursor: pointer;
  padding: 0 1em;
  margin-top: 1em;
}
.copy:active {
  animation: flash 0.05s;
}

.tags {
  color: #e6e664;
}

.es {
  animation: appear 0.5s ease-out;
}

.en {
  animation: appearLan 0.5s ease-out;
}

.skills, .tags, .contact {
  animation: appear 0.5s ease-out;
}

.card {
  animation: appear 0.25s ease-out;
}

.galaxy {
  background: #1e1e1e;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearLan {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    background: black;
  }
  100% {
    background: silver;
  }
}
@keyframes flashText {
  0% {
    color: black;
  }
  100% {
    color: snow;
  }
}

/*# sourceMappingURL=_app.css.map */
