.container, html, body, .App, #root {
  width: 100vw;
  width: -moz-available;
  width: stretch;
  width: stretch;
  flex-direction: column;
  font-family: Josefin Sans, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: calc(14px + 12 * (100vw - 300px) / 1600);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.slide {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
}

.slide > .skills, .slide > .tags {
  flex: 1;
}

.projects {
  width: 100vw;
  width: -moz-available;
  width: stretch;
  display: flex;
  flex-direction: column;
  margin: 1em;
}
.projects > .title {
  margin: 1em 0;
}
.projects .link {
  font-size: 1.2em;
  margin: 1em 0;
  text-align: center;
  text-shadow: 2px 0 0px rgba(255, 0, 0, 0.7), -2px 0 0px rgba(0, 255, 255, 0.7);
}
.projects .entries {
  display: flex;
  flex: 1;
  gap: 2em;
  flex-direction: column;
}
.projects .entries .entry {
  gap: 1em;
  flex: 1;
  display: flex;
  flex-direction: row;
  border-radius: 1%;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}
.projects .entries .entry .text-zone {
  padding: 1em;
  flex: 1;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
}
.projects .entries .entry .text-zone > hr {
  margin-left: 0;
  margin-right: 0;
}
.projects .entries .entry .text-zone > .title {
  font-size: 1.5em;
  padding-bottom: 0.5em;
}
.projects .entries .entry .text-zone > .tags {
  flex: 1;
  font-size: 0.7em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.projects .entries .entry .text-zone > .action-zone {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  justify-self: flex-end;
  padding-top: 25px;
}
.projects .entries .entry .text-zone > .action-zone img {
  width: 50px;
  height: 50px;
  opacity: 0.8;
  box-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}
.projects .entries .entry .image-zone {
  flex: 0.5;
  align-items: center;
  justify-content: center;
  display: flex;
}
.projects .entries .entry .image-zone > video {
  border-radius: 1% 0 0 1%;
  max-width: 150px;
  max-height: 400px;
  object-fit: cover;
}

.columns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.column {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100vh;
}
.column .textwall {
  max-width: 500px;
  font-size: 30px;
  padding: 30px;
}

p, html, body {
  margin: 0;
  padding: 0;
}

.animation {
  max-width: 100%;
  max-height: 100%;
  height: min(100vh, 177.7777777778vw);
}

.transparent {
  opacity: 0;
}

input {
  font-family: Josefin Sans, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media all and (min-width: 1100px) {
  .projects {
    margin: 2em;
  }
  .projects .entries {
    flex-direction: row;
    gap: 2em;
  }
  .projects .entries .entry {
    flex-direction: column;
  }
  .projects .entries .entry .text-zone .action-zone img {
    height: 65px;
    width: 65px;
  }
  .projects .entries .entry .text-zone .title {
    text-shadow: 2px 0 0px rgba(255, 0, 0, 0.7), -2px 0 0px rgba(0, 255, 255, 0.7);
  }
  .projects .entries .entry .image-zone {
    flex: 1;
    max-height: calc(50vh - 1em);
    max-width: 100vw;
  }
  .projects .entries .entry .image-zone video {
    max-width: 100%;
    max-height: 100%;
    border-radius: 1% 1% 0 0;
  }

  .columns {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .tags .columns {
    flex-direction: row-reverse;
  }
}
.home, .contact, .loading {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.home > .wrapper .title, .home > .wrapper .subtitle {
  text-shadow: 2px 0 0px rgba(255, 0, 0, 0.7), -2px 0 0px rgba(0, 255, 255, 0.7);
  text-align: center;
  color: #000000;
}
.home > .wrapper .title {
  font-size: calc(64px + 6 * (100vw - 320px) / 680);
}
.home > .wrapper .subtitle {
  font-size: calc(32px + 6 * (100vw - 320px) / 680);
}

.header {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
.header .cv, .header .language {
  cursor: pointer;
  width: 100px;
  height: 50px;
}
.header .cv:active, .header .language:active {
  animation: flash 0.05s ease;
}

.contact > .button {
  font-size: calc(32px + 6 * (100vw - 320px) / 680);
  text-shadow: 2px 0 0px rgba(255, 0, 0, 0.7), -2px 0 0px rgba(0, 255, 255, 0.7);
  cursor: pointer;
  margin: 10px 0;
}
.contact > .button > a {
  text-decoration: none;
  color: black;
}
.contact > .button > a:active {
  animation: flashText 0.05s ease;
}
.contact > .card {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  top: -10vh;
  left: 0;
  width: 0;
  height: 0;
}
.contact > .card > .wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 100vw;
  min-height: 70vh;
}
.contact > .card > .wrapper > .wrapper {
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-between;
  flex: 1;
  position: absolute;
  flex-direction: column;
  padding: 2em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
}
.contact > .card > .wrapper > .wrapper > .close {
  box-shadow: 2px 0 0 rgba(255, 0, 0, 0.7), -2px 0 0 rgba(0, 255, 255, 0.7);
  align-items: center;
  justify-content: center;
  display: flex;
  display: flex;
  font-size: calc(20px + 6 * (100vw - 320px) / 680);
  vertical-align: top;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  margin: 0.5em;
  cursor: pointer;
}
.contact > .card > .wrapper > .wrapper > .line {
  align-self: flex-start;
  display: flex;
}
.contact > .card > .wrapper > .wrapper > .line > p {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: calc(20px + 6 * (100vw - 320px) / 680);
  margin: 10px 0;
}
.contact > .card > .wrapper > .wrapper > .line > p > span {
  width: 25px;
  padding-bottom: 0.25em;
}
.contact > .card > .wrapper > .wrapper > .line > p > a {
  display: flex;
  text-decoration-color: black;
}
.contact > .card > .wrapper > .wrapper > .line > p > a > input {
  border: none;
  font-size: calc(20px + 6 * (100vw - 320px) / 680);
  min-width: 12em;
  cursor: pointer;
  flex: 1;
  pointer-events: none;
}
.contact > .card > .wrapper > .wrapper > .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.copy {
  box-shadow: 2px 0 0 rgba(255, 0, 0, 0.7), -2px 0 0 rgba(0, 255, 255, 0.7);
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 25px;
  background: black;
  color: white;
  min-width: 100px;
  min-height: 50px;
  cursor: pointer;
  padding: 0 1em;
  margin-top: 1em;
}
.copy:active {
  animation: flash 0.05s;
}

.es {
  animation: appear 0.5s ease-out;
}

.en {
  animation: appearLan 0.5s ease-out;
}

.appear {
  animation: appear 0.5s ease-out;
}

.card {
  animation: appear 0.25s ease-out;
}

.galaxy {
  background: #1e1e1e;
  color: #e6e664;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.projects > .title {
  font-size: calc(32px + 6 * (100vw - 320px) / 680);
  margin-bottom: 1em;
  text-shadow: 2px 0 0px rgba(255, 0, 0, 0.7), -2px 0 0px rgba(0, 255, 255, 0.7);
}
.projects .entries .entry .title {
  text-shadow: 1px 0 0px rgba(255, 0, 0, 0.7), -1px 0 0px rgba(0, 255, 255, 0.7);
  font-size: calc(20px + 6 * (100vw - 320px) / 680);
}
.projects .entries .entry .tags {
  font-size: calc(12px + 6 * (100vw - 320px) / 680);
}
.projects .link {
  font-size: calc(20px + 6 * (100vw - 320px) / 680);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearLan {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    background: black;
  }
  100% {
    background: silver;
  }
}
@keyframes flashText {
  0% {
    color: black;
  }
  100% {
    color: snow;
  }
}
.sidepage {
  animation: fadeIn 0.55s ease;
}
.sidepage .header {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-shadow: 2px 0 0px rgba(255, 0, 0, 0.7), -2px 0 0px rgba(0, 255, 255, 0.7);
}

.project-card-wrapper {
  filter: brightness(90%);
}
.project-card-wrapper > .appear {
  animation: appear 0.5s forwards;
}

.project-card {
  overflow: hidden;
  opacity: 0;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  background: #efefef;
  display: flex;
  flex-direction: column;
}
.project-card .action-zone {
  padding: 20px;
}
.project-card .action-zone img {
  box-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}
.project-card > .title {
  font-size: 1.5em;
  margin: 20px 0;
  padding: 0 20px;
  text-shadow: 2px 0 0px rgba(255, 0, 0, 0.7), -2px 0 0px rgba(0, 255, 255, 0.7);
}
.project-card > .desc {
  font-size: 0.9em;
  padding: 0 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.project-card .tags {
  font-size: 0.8em;
  text-align: center;
  padding: 10px 20px;
  flex: 1;
}

.grid > .expanded {
  grid-row: span 2;
  animation: expand 0.5s forwards, lighten 0.1s forwards;
}

.grid > .reduced {
  animation: reduce 0.5s forwards, darken 0.1s;
  grid-row: span 2;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    left: 100vw;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes expand {
  0% {
    height: min(100vw - 4em, 350px);
  }
  100% {
    height: calc(700px + 2em);
  }
}
@keyframes reduce {
  0% {
    height: calc(700px + 2em);
  }
  100% {
    height: min(100vw - 4em, 350px);
  }
}
@keyframes lighten {
  0% {
    filter: brightness(90%);
  }
  100% {
    filter: brightness(100%);
  }
}
@keyframes darken {
  0% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(90%);
  }
}
.sidepage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
}
.sidepage > .header {
  margin: 0.5em;
  height: 3em;
  width: 3em;
  font-size: calc(20px + 6 * (100vw - 320px) / 680);
  position: fixed;
  top: 0;
}
.sidepage .background {
  position: fixed;
}
.sidepage .background > canvas {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.grid {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 350px;
  gap: 2em 2em;
  padding: 2em;
  grid-auto-flow: dense;
}

.project-card-wrapper {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: min(100vw - 4em, 350px);
  height: min(100vw - 4em, 350px);
}

.project-card {
  height: stretch;
}
.project-card .action-zone {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.project-card .action-zone img {
  width: 50px;
  height: 50px;
  opacity: 0.8;
}
.project-card .demo-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
}
.project-card .demo-wrapper > video {
  width: 100%;
  height: auto;
}

@media (max-width: 1600px) {
  .project-card-wrapper {
    grid-column: span 4;
  }
}
@media (max-width: 1200px) {
  .project-card-wrapper {
    grid-column: span 6;
  }
}
@media (max-width: 800px) {
  .project-card-wrapper {
    grid-column: span 12;
  }
}
@media (max-width: 414px) {
  .project-card-wrapper {
    justify-self: flex-start;
  }
}

/*# sourceMappingURL=_app.css.map */
