$imageWidth: 250px;
$imageHeight: 250px;
$smallImageWidth: calc($imageWidth / 2);
$smallImageHeight: calc($imageHeight / 2);
$containerWidth: $imageWidth *2;
$containerHeight: $imageHeight *2;
$smallContainerWidth: $smallImageWidth *2;
$smallContainerHeight: $smallImageHeight *2;
$padding: 15px;
