.app {
  display: grid;
  grid-template-rows: 30% 40% 30%;
  grid-template-columns: 12.5% 75% 12.5%;
  min-height: 30em;
  min-width: 90%;
  max-height: 45em;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;

}

.canvas {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: lightgray;
  z-index: -1;
  animation: welcome 0.5s;
  align-self: stretch;
  justify-self: stretch;
}

.item-container{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  
  display: grid;
  column-gap: 1em;
  grid-template-columns: 33% 33% 33%;
  
}
.item {
  align-self: stretch;
  justify-self: stretch;
  border: 1px solid black;
  background: white;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  padding: 20px;
  text-align: center;
  animation: welcome 0.5s;

}

img {
  height: 15em;
  width: 20em;
  border: 1px solid black;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

img:hover {
  box-shadow: 5px 5px 50px rgba(0,0,0,0.5);
  transition-duration: 0.5s;
}

.welcome-container{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 5rem;
} 

.welcome, .stranger {
  font-size: 3rem;
  color: whitesmoke;
  text-shadow: 3px 3px 5px black;
  grid-area: canvas;
  
}

.welcome {
  margin-left: 3rem;
  animation: welcome 0.5s;
}

.stranger {
  animation: stranger 0.8s;
}

.intro {
  margin: 0px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  align-self: stretch;
  justify-self: center;
  
  color: black;
  text-shadow: 1px 1px 1px black;
  opacity: 0;
  animation: intro 4s;
}

@keyframes welcome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes stranger {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}