@use './breakpoints.scss';

.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-column {
    flex-direction: column;
}

.align-left {
    justify-content: center;
    flex-direction: column;
}

.center {    
    align-items: center;
    justify-content: center;
}

.gradient-text {
    background: rgb(255, 255, 255);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(3px 3px #333);
}

.hidden {
    visibility: hidden;
}

.container {
    padding: 0 44px    
}

@include breakpoints.md {
    .container {
        padding: 0 14px
    }
}