@mixin beforeAbsolute {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin gradientText {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, #fff 0%, #aaa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(3px 3px #333);
}

@mixin link-button {
    height: 100%;
    width: 100%;
    background: none;    
    border: 0px;
    cursor: pointer;
}

@mixin link-hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;
}
@mixin link-active {
    background-color: rgba(0, 0, 0, 0.3);
}