// D for desktop, M for mobile
@mixin text-d-l1 {
    font-size: 132px;
    font-weight: bold;
    line-height: 80%;
}

@mixin text-d-l2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 80%;
}

@mixin text-d-l3 {
    font-size: 32px;
    font-weight: bold;
    line-height: 100%;
}

@mixin text-m-l1 {
    font-size: 54px;
    font-weight: bold;
    line-height: 80%;
    
}

@mixin text-m-l2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 80%;
}

@mixin text-m-l3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 100%;
}

@mixin text-d-l4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
}

@mixin text-d-l5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 5%;
}

@mixin text-m-l4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
}

@mixin text-m-l5 {
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 5%;
}