//Colours
$red: rgb(214, 2, 112);
$purple: rgb(155, 79, 150);
$blue: rgb(0, 56, 168);
$black: #34122a;

//Gradients
$gradientFooter: linear-gradient(
  90deg,
  rgba(214, 2, 112, 0.3) 0%,
  rgba(155, 79, 150, 0.3) 50%,
  rgba(0, 56, 168, 0.3) 100%
);
$gradientHero: linear-gradient(
  90deg,
  rgba(214, 2, 112, 0.3) 0%,
  rgba(155, 79, 150, 0.3) 50%,
  rgba(0, 56, 168, 0.1) 100%
);

$gradientHeader: linear-gradient(
  90deg,
  rgba(214, 2, 112, 1) 0%,
  rgba(155, 79, 150, 1) 50%,
  rgba(0, 56, 168, 1) 100%
);

//

$shadow-box-3: 3px 3px 3px rgba(0, 0, 0, 0.3);

$backdropBlur: blur(10px);

//easings:
$easeOutCubic: cubic-bezier(0.33, 1, 0.68, 1);
$easeOutQuart: cubic-bezier(0.25, 1, 0.5, 1);

//header:
$headerOuterHeight: 70px;
$headerInnerHeight: 39px;

//text-size
$d-l1: 132px;
$d-l2: 48px;
$d-l3: 32px;
$m-l1: 54px;
$m-l2: 36px;
$m-l3: 24px;

$fluid-m-l1: calc(54px + (132 - 54) * ((100vw - 350px) / (768 - 350)));
