$maya_blue: #55cdfc;
@mixin shadow() {
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
}

.footer {
    grid-area: footer;
    background: $maya_blue;
    @include shadow();
    display: flex;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
