.home {
    flex: 1;
    display:grid;

    .visible {
        font-weight: 100;
    }

    .hidden {
        visibility: hidden;
    }
    
    svg {
        grid-row: 1/2;
        grid-column: 1/2;
        max-height: 100%;
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
        
    }

    .home-text-container {
        padding: 1rem;
        grid-row: 1/2;      
        grid-column: 1/2;  
        font-size: 2rem;
    }

    .input {
        background: transparent;
        color: white;
        letter-spacing: 2px;
        border: 0px;
        outline: 0px;
        width: 80%;
        font-weight: 100;
        
    }    
}
    
    