@use "../../../node_modules/normalize.css/normalize.css";

$maya_blue: #55cdfc;
$white: #FFFFFF;
$ama_pink: #F7A8B8;
$blue: #306BAC;
$darkblue: #141B41;
$red: #FE4A49;
$grey: #BAD9B5;
$orange: #F7D08A;
$yellow: #ffde3f;
$pink: #ff5e6d;
$borderRadius: 25px;


@mixin borderRadius() {
    border-radius: 25px;
}
@mixin shadow() {
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
}

@mixin parenthesis() {
    border-left: 0.3rem solid white;
    border-right: 0.3rem solid white;
    border-radius: 1rem;
    margin: 1rem 0.5rem;
    padding: 1rem;
    background: rgba(0,0,0,0.1);
}


html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    color: white;
    margin: 0;
}

body, html {
    overflow: hidden;
    margin: 0;
}

.small-text{ 
    font-size: 0.9rem;
    display: inline;
    color: white;
    span {
        text-decoration: underline;
        cursor: pointer;
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    }
}

.italic {
    font-style: italic;
}
p, h1, h2, ul {
    margin:0;
    font-weight: 100;
}

a:visited {
    color: inherit;
}

.container{
    margin: 1rem;
    display: grid;
    min-height: 575px;
    height: 100% ;
    width: calc(100% - 2rem);
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
    grid-template-rows: 12.5% 65% 12.5%;
    row-gap: 1rem;
    grid-template-areas: 
    "header"
    "main"
    "footer";   

}

.header {
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    background: $maya_blue;
    display: flex;
    flex: 1;
    @include shadow();
    grid-area: header;
    
    .logo-wrapper {
        flex: 1;
        min-width: 50px;
        display: flex;
    }
    .header-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title-wrapper {    
            display: flex;
            flex-direction: column;
            
            h1 {
                font-weight: 500;
                }
            h2 {
                flex: 1;
                font-size: 0.7rem;
                font-style: italic;
                font-weight: 700;
                }
        }  
        
    }

    .nav-bar {
        flex: 10;
        display: flex;
        padding: 0;
        align-self: stretch;
        list-style: none;
        span {
            flex: 1;
            display: flex;
            align-self: stretch;
            cursor: pointer;
            align-items: center;
    
            li {
                position: relative;
                top: 0.1rem;
                flex: 1;
                justify-self: right;
                font-weight: 500;
                text-align: center;
                -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
                

            }
        }
        span:first-child {
            margin-left:1rem;
        }
        span:hover {
            background-color: rgba(255,255,255,0.2);
        }
    } 
    

       
    
}



.main-container {
    background: $maya_blue;
    display: flex;
    flex: 1;
    grid-area: main;
    @include shadow();
}

.section {
    animation: appear 0.5s;
    grid-area: main;
    display: flex;
    flex: 1;
    padding: 1rem;
}

::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-track {
    background: $blue;
}
::-webkit-scrollbar-thumb {
    background: $darkblue;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media all and (max-width: 1200px){
    html {
        font-size: 18px;
    }
}
@media all and (max-width: 992px){
    html {
        font-size: 14px
    }
}
@media all and (max-width: 768px){
    html {
        font-size: 12px
    }    
}
@media all and (max-width: 550px){
    html {
        font-size: 7.5px
    }    
    li {
        letter-spacing: 0;
    }
}



